p {
    font-family: 'Goldman', cursive;
    color: green
}

h1 {
    font-family: 'Goldman', cursive;
    color: green
}

.chat {
    width: auto;
    height: 400;
    overflow: auto;
    background-color: black;
    position: relative;
}