p {
    font-family: 'Goldman', cursive;
    color: green
}

h1 {
    font-family: 'Goldman', cursive;
    color: green
}

.chat {
    width: 1000;
    height: 800;
    background-color: black;
    position: relative;
}